/* reset */

*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

.flex{
   display: flex;
}

.flex-wrap{
   flex-wrap: wrap;
}

.p-fixed{
   position: fixed;
}


header{
   background-color: black;
   width: 233px;
   height: calc(100vh - 100px);
}

#logo{
   width: 100%;
   height: 70px;
   background-color: aqua;
}

#icon{
   background-color: darkgoldenrod;
}

#playlist{
   margin-top: 2rem;
   background-color: brown;
}

#hd-foot{
   width: 100%;
   height: 80px;
   background-color: deeppink;
   margin-top: 17.5rem;
}

.icon-list{
   color: white;
   padding-left: 2rem;
}

.icon-list ul{
   list-style: none;
   margin-top: 1rem;
}

.icon-list li{
   margin-top: 1rem;
}

.playlist-element{
   color: white;
}

.playlist-element h4{
   margin: 1rem 4rem;
}

.playlist-element ul, li{
   margin: 1rem 2rem;
   list-style-type: none;
}

main{
   width: calc(100% - 233px);
   background-color: blue;
}

#top-black-banner{
   width: 100%;
   height: 70px;
   background-color: rgb(95, 95, 95);
}

#small-list-banner{
   width: 100%;
   height: 50px;
   background-color: coral;
}

#recetly-played{
   width: 100%;
   height: 450px;
   background-color: rgb(169, 49, 6);
}

.container-disk{
   width: 100%;
   height: 350px;
   background-color: rgb(92, 25, 0);

}

.container-disk-two{
   width: 100%;
   height: 350px;
   background-color: rgb(92, 84, 0);

}

.container-disk-third{
   width: 100%;
   height: 350px;
   background-color: rgb(92, 0, 32);

}

.card{
   width: 200px;
   height: 200px;
   background-color: black;
   margin: 1rem;
}

.card-radius{
   width: 200px;
   height: 200px;
   background-color: black;
   margin: 1rem;
   border-radius: 100%;
}



footer{
   background-color: gray;
   height: 100px;
   width: 100%;
}